<div class="well">
    <div class="jumbotron">
        <div class="container">
            <div class="row" id="resume">
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="alert-danger">
                    {{.Answer}}
                    </div>
                    <form method="post">
                        {{/*<div class="form-group">*/}}
                            {{/*<label for="usr">Subtitle :</label>*/}}
                            {{/*<input type="text" class="form-control" id="usr" name="username">*/}}
                        {{/*</div>*/}}
                        <div class="form-group">
                            <label for="text">Text :</label>
                            <textarea class="form-control" id="text" name="text"></textarea>
                        </div>
                        <div class="from-group">
                            <button type="submit" value="{{.SubmitValue}}" class="btn col-sm-12 btn-primary btn-sm">{{.SubmitValue}}</button>
                        </div>
                    </form>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </div> <!-- end of jumbotron -->
</div>

<div class="well">
    <h2>Medias of {{.TitleId}} Layer</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Media</th>
        </tr>
        </thead>
        <tbody>
        {{range .Medias}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Text}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>