<div class="well">
    <div class="jumbotron">
        <div class="container">
            <div class="row" id="resume">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="alert-danger">
                    {{.Answer}}
                    </div>
                    <form method="post">
                    {{if .PreviousValue.Id}}
                        <input name="edit" value="{{.PreviousValue.Id}}" type="hidden">
                    {{end}}
                        <div class="form-group">
                            <label for="Title">عنوان :</label>
                            <input type="text" class="form-control" id="Title" name="Title"
                                   value="{{.PreviousValue.Title}}">
                        </div>
                        <div class="form-group">FileName
                            <label for="filename">انتخاب محتوا :</label>
                            <select class="my-select" style="width: 100%;" id="filename" name="filename">
                            {{range .OptionFiles}}
                                <option {{if (eq .Key $.PreviousValue.FileName) }}
                                selected {{end}} value="{{.Key}}">{{.Description}}</option>
                            {{end}}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="editor">متن :</label>
                            <div id="toolbar-container"></div>
                            <input id="x" type="hidden" name="text">
                            <trix-editor input="x">{{.PreviousValue.Text}}</trix-editor>
                            {{/*<div style="height: 300px" class="form-control" id="editor">{{.PreviousValue.Text}}</div>*/}}
                            {{/*<input type="hidden" name="text" id="dash_new_shout_textarea_hidden">*/}}
                            {{/*<script>*/}}
                                {{/*setInterval(function () {*/}}
                                    {{/*document.getElementById("dash_new_shout_textarea_hidden").value = document.getElementById("editor").innerHTML;*/}}
                                {{/*}, 5);*/}}
                            {{/*</script>*/}}
                        </div>
                        <div class="from-group">
                            <button name="submit" type="submit"
                                    value="{{.SubmitValue}}"
                                    class="btn col-sm-12 btn-primary btn-sm">{{.SubmitValue}}</button>
                        </div>
                    </form>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </div> <!-- end of jumbotron -->
</div>

<div class="well">
    <h2>خبرها</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>عنوان</th>
        {{/*<th>Text</th>*/}}
            <th>محتوا</th>
            <th>تاریخ ارسال</th>
        </tr>
        </thead>
        <tbody>
        {{range .News}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Title}}</td>
        {{/*<td>{{unescape .Text}}</td>*/}}
            <td><img style="width: 250px" src="https://s8.ghiasi.me/file/?file={{.FileName}}"></td>
            <td>{{.Created}}</td>
            {{/*<td><a class="btn btn-warning" href="/admin/edit/news/{{.Id}}">ویرایش</a></td>*/}}
            <td><a class="btn btn-danger" href="/admin/delete/news/{{.Id}}">حذف</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
<script>
    DecoupledEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                const toolbarContainer = document.querySelector('#toolbar-container');

                toolbarContainer.appendChild(editor.ui.view.toolbar.element);
            })
            .catch(error => {
                console.error(error);
            });
</script>
