<div class="well">
    <div class="jumbotron">
        <div class="container">
            <div class="row" id="resume">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="alert-danger">
                    {{.Answer}}
                    </div>
                    <form method="post">
                        <div class="form-group">
                            <label for="usr">File Address :</label>
                            <input type="text" class="form-control" id="usr" name="filename">
                        </div>
                        <div class="form-group">
                            <label for="editor">Text :</label>
                            <div id="toolbar-container"></div>
                            <textarea class="form-control" id="editor" name="text"></textarea>
                            <script>
                                DecoupledEditor
                                        .create(document.querySelector('#editor'))
                                        .then(editor => {
                                            const toolbarContainer = document.querySelector('#toolbar-container');

                                            toolbarContainer.appendChild(editor.ui.view.toolbar.element);
                                        })
                                        .catch(error => {
                                            console.error(error);
                                        });
                            </script>
                        </div>
                        <div class="from-group">
                            <button name="submit" type="submit" value="{{.SubmitValue}}"
                                    class="btn col-sm-12 btn-primary btn-sm">{{.SubmitValue}}</button>
                        </div>
                    </form>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </div> <!-- end of jumbotron -->
</div>

<div class="well">
    <h2>News</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>File Address</th>
            <th>Created Date</th>
        </tr>
        </thead>
        <tbody>
        {{range .News}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Text}}</td>
            <td><img src="http://localhost:8088/file/?file={{.FileName}}"></td>
            <td>{{.Created}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>