<div class="well">
    <div class="jumbotron">
        <div class="container">
            <div class="row" id="resume">
                <div class="col-sm-offset-4 col-sm-4">
                    <div class="alert-danger">
                    {{.Answer}}
                    </div>
                    <form method="post">
                        <div class="form-group">
                            <label for="title">عنوان :</label>
                            <input type="text" class="form-control" id="title" name="title"
                                   value="{{.PreviousValue.Title}}">
                        {{if .PreviousValue.Id}}
                            <input name="edit" value="{{.PreviousValue.Id}}" type="hidden">
                        {{end}}
                        </div>
                        <div class="form-group">
                            <label for="Picture">انتخاب محتوا :</label>
                            <select class="my-select" style="width: 100%;" id="Picture" name="picture">
                            {{range .OptionFiles}}
                                <option {{if (eq .Key $.PreviousValue.Picture) }}
                                selected {{end}} value="https://s8.ghiasi.me/file/?file={{.Key}}">{{.Description}}</option>
                            {{end}}
                            </select>
                        </div>
                        <div class="from-group">
                            <button type="submit" value="{{.SubmitValue}}"
                                    class="btn col-sm-12 btn-primary btn-sm">{{.SubmitValue}}</button>
                        </div>
                    </form>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </div> <!-- end of jumbotron -->
</div>

<div class="well">
    <h2>لایه اول</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>عنوان</th>
            <th>محتوا</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{range .Titles}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Title}}</td>
            <td><img style="width: 250px" src="https://s8.ghiasi.me/file/?file={{.Picture}}"></td>
            <td><a class="btn btn-success" href="/admin/SecondLayer/{{.Id}}">Add Subtitle</a></td>
            <td><a class="btn btn-warning" href="/admin/edit/FirstLayer/{{.Id}}">ویرایش</a></td>
            <td><a class="btn btn-danger" href="/admin/delete/FirstLayer/{{.Id}}">حذف</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>