<div class="well">
    <h2>Messages</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Text</th>
            <th>File</th>
            <th>Created Date</th>
            <th>Answer</th>
        </tr>
        </thead>
        <tbody>
        {{range .Messages}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Username}}</td>
            <td>{{.Text}}</td>
            <td>{{.FileAddress}}</td>
            <td>{{.Created}}</td>
            <td><a href="/admin/message/answer/{{.Id}}">Answer</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>