<div class="well">
    <h2>پیام ها</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>نام کاربری</th>
            <th>متن</th>
            <th>محتوا</th>
            <th>نوع فایل</th>
            <th>تاریخ ارسال</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{range .Messages}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Username}}</td>
            <td>{{.Text}}</td>
            <td>{{.FileAddress}}</td>
            <td>{{.Type}}</td>
            <td>{{.Created}}</td>
            <td><a href="/admin/message/answer/{{.Id}}">پاسخ دهید</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>