<div class="well" style="padding: 0;margin: 0">
    <div class="jumbotron">
        <div class="container">
            <div class="row" id="resume">
                <div class="col-sm-offset-4 col-sm-4" style="min-height:220px;">
                    <div class="alert-danger">
                    {{.Answer}}
                    </div>
                    <form method="post">
                    {{if .PreviousValue.Id}}
                        <input name="edit" value="{{.PreviousValue.Id}}" type="hidden">
                    {{end}}
                        <div class="form-group">
                            <label for="name">نام :</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   value="{{.PreviousValue.Name}}">
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber">شماره تماس :</label>
                            <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber"
                                   value="{{.PreviousValue.PhoneNumber}}">
                        </div>
                        <div class="form-group">
                            <label for="IMEI">IMEI :</label>
                            <input type="text" class="form-control" name="IMEI" id="IMEI"
                                   value="{{.PreviousValue.Imei}}">
                        </div>
                        <div class="form-group">
                            <label for="usr">نام کاربری :</label>
                            <input type="text" class="form-control" id="usr" name="username"
                                   value="{{.PreviousValue.Username}}">
                        </div>
                        <div class="form-group">
                            <label for="pwd">کلمه عبور :</label>
                            <input type="password" class="form-control" name="password" id="psw"
                                   value="{{.PreviousValue.Password}}">
                        </div>
                        <div class="from-group">
                            <button type="submit" value="{{.SubmitValue}}"
                                    class="btn col-sm-12 btn-primary btn-sm">{{.SubmitValue}}</button>
                        </div>
                    </form>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </div> <!-- end of jumbotron -->
</div>