<div class="well">
    <div class="jumbotron">
        <div class="container">
            <div class="row" id="resume">
                <div class="col-sm-offset-4 col-sm-4">
                    <div class="alert-danger">
                    {{.Answer}}
                    </div>
                    <form method="post">
                        <div class="form-group">
                            <label for="usr">زیرعنوان (لایه دوم) :</label>
                            <input type="text" class="form-control" id="usr" name="username">
                        </div>
                        <div class="form-group">
                            <label for="pic1">محتوا :</label>
                            <select class="my-select" style="width: 100%;" id="pic1" name="pic1">
                            {{range .OptionFiles}}
                                <option value="{{.Key}}">{{.Description}}</option>
                            {{end}}
                            </select>
                        </div>
                        <div class="from-group">
                            <button type="submit" value="{{.SubmitValue}}"
                                    class="btn col-sm-12 btn-primary btn-sm">{{.SubmitValue}}</button>
                        </div>
                    </form>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </div> <!-- end of jumbotron -->
</div>

<div class="well">
    <h2> زیرعنوان لایه{{.TitleId}}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Pic 1</th>
        {{/*<th>Pic 2</th>*/}}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{range .Subtitles}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Title}}</td>
            <td>
                <img style="width: 100px" src="https://s8.ghiasi.me/file/file/?file={{.Picture}}"
                     alt="No Pic">
            </td>
        {{/*<td>*/}}
        {{/*<img style="width: 100px" src="https://s8.ghiasi.me/file/?file={{.Pic2}}"*/}}
        {{/*alt="No Pic">*/}}
        {{/*</td>*/}}
            <td><a href="/admin/Media/{{.Id}}">Add Media</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>