<div class="well">
    <h2>مدیران</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>نام کاربری</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{range .Users}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Username}}</td>
            <td><a class="btn btn-warning" href="/admin/edit/admin/{{.Id}}">ویرایش</a></td>
            <td><a class="btn btn-danger" href="/admin/delete/admin/{{.Id}}">حذف</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>