<div class="well">
    <div class="jumbotron">
        <div class="container">
            <div class="row" id="resume">
                <div class="col-sm-offset-1 col-sm-9">
                    <div class="alert-danger">
                    {{.Answer}}
                    </div>
                    <form method="post">
                        <div class="form-group">
                            <label for="text">Text :</label>
                            <div id="toolbar-container"></div>
                            <textarea class="form-control" id="text" name="text">{{.PreviousValue.Text}}</textarea>
                        {{if .PreviousValue.Id}}
                            <input name="edit" value="{{.PreviousValue.Id}}" type="hidden">
                        {{end}}
                        </div>
                        <div class="form-group">
                            <label for="picture">Picture :</label>
                            <select class="my-select" style="width: 100%;" id="picture" name="picture">
                            {{range .OptionFiles}}
                                <option {{if (eq .Key $.PreviousValue.Url) }}
                                selected {{end}} value="https://s8.ghiasi.me/file/?file={{.Key}}">{{.Description}}</option>
                            {{end}}
                            </select>
                        </div>
                        <div class="from-group">
                            <button type="submit" value="{{.SubmitValue}}"
                                    class="btn col-sm-12 btn-primary btn-sm">{{.SubmitValue}}</button>
                        </div>
                    </form>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </div> <!-- end of jumbotron -->
</div>

<div class="well">
    <h2>SubMedias of {{.TitleId}} Layer</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>SubMedia</th>
            <th>Picture</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{range .SubMedias}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Text}}</td>
            <td><img style="width: 250px" src="https://s8.ghiasi.me/file/?file={{.Url}}"></td>
            <td><a class="btn btn-warning" href="/admin/edit/SubMedia/{{.Pid}}/{{.Id}}">ویرایش</a></td>
            <td><a class="btn btn-danger" href="/admin/delete/SubMedia/{{.Pid}}/{{.Id}}">حذف</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>