<div class="well">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    <form id="upload_form" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label for="Description">Description :</label>
                            <input type="text" class="form-control" id="Description" name="description">
                        </div>

                        <input type="file" name="file" id="file"><br>

                        <div class="progress">
                            <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                <span id="loaded_n_total"></span>
                            </div>
                        </div>
                        <h3 id="status"></h3>
                        <input type="button" class="btn col-sm-12 btn-success btn-sm" value="Upload File"
                               onclick="uploadFile()">
                    </form>
                </div>
            </div>
            <script>
                /* Script written by Adam Khoury @ DevelopPHP.com */
                /* Video Tutorial: http://www.youtube.com/watch?v=EraNFJiY0Eg */
                function _(el) {
                    return document.getElementById(el);
                }

                function uploadFile() {
                    var file = _("file").files[0];
                    // alert(file.name+" | "+file.size+" | "+file.type);
                    var formdata = new FormData();
                    formdata.append("file", file);
                    var ajax = new XMLHttpRequest();
                    ajax.upload.addEventListener("progress", progressHandler, false);
                    ajax.addEventListener("load", completeHandler, false);
                    ajax.addEventListener("error", errorHandler, false);
                    ajax.addEventListener("abort", abortHandler, false);
                    ajax.open("POST", "/admin/upload/file");
                    ajax.send(formdata);
                }

                function progressHandler(event) {
                    _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
                    var percent = (event.loaded / event.total) * 100;
                    $("#progressBar").css({"width": Math.round(percent) + "%"});
                    _("status").innerHTML = Math.round(percent) + "% uploaded... please wait";
                }

                function completeHandler(event) {
                    response = JSON.parse(event.target.responseText);
                    _("status").innerHTML = response.Error;
                    $("#progressBar").css({"width": "100%"});
                }

                function errorHandler(event) {
                    _("status").innerHTML = "Upload Failed";
                }

                function abortHandler(event) {
                    _("status").innerHTML = "Upload Aborted";
                }
            </script>

        </div><!-- end of container -->
    </div> <!-- end of jumbotron -->
</div>


<div class="well">
    <h2>Admin Files</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Admin Name</th>
            <th>File Address</th>
            <th>Description</th>
            <th>Key</th>
            <th>Created Date</th>
        </tr>
        </thead>
        <tbody>
        {{range .Files}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.UserId}}</td>
            <td><img style="width: 100px" alt="No Pic" src="https://s8.ghiasi.me/file/?file={{.Key}}"></td>
            <td>{{.Description}}</td>
            <td>{{.Key}}</td>
            <td>{{.Created}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>