<div class="well">
    <h2>کاربران</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>نام کاربری</th>
            <th>نام</th>
            <th>شماره تماس</th>
            <th>IMEI</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{range .Users}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Username}}</td>
            <td>{{.Name}}</td>
            <td>{{.PhoneNumber}}</td>
            <td>{{.Imei}}</td>
            <td><a class="btn btn-warning" href="/admin/edit/user/{{.Id}}">ویرایش</a></td>
            <td><a class="btn btn-danger" href="/admin/delete/user/{{.Id}}">حذف</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>